# dependencies (bun install)
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directories
dist
.cache

# Editor directories and files
.idea
.vscode
